.projects__button-wrap 
    .button-wrap
        button(type="button" style="transform: scale(0)").slide-up
            +icon('arrow-up')
        button(type="button" style="transform: scale(0)").slide-down
            +icon('arrow-down')
