- 
    var socials = [
            {
                'svg' : 'email',
                'href' : 'javascript:void(0);'
            },
            {
                'svg' : 'fb',
                'href' : 'https://www.facebook.com/staniszhuk'
            },
            {
                'svg' : 'vk',
                'href' : 'https://www.vk.com/staniszhuk'
            },
            {
                'svg' : 'github',
                'href' : 'https://github.com/StasZhuk/'
            },
            {
                'svg' : 'instagram',
                'href' : 'https://www.instagram.com/staszhyk/'
            }
        ]

- 
    var i = 0

.socials
    ul.socials__list
        each item, href in socials
            li(style="transform: scale(0);opacity:0" class=`socials__item socials__item-${i++}`)
                if item.svg === 'email'
                    a(href= item.href class=`socials__link ${item.svg} toggle-form` target="_blank")
                        +icon(item.svg, 'socials-icon')
                else
                    a(href= item.href class=`socials__link ${item.svg}` target="_blank")
                        +icon(item.svg, 'socials-icon')