include common/_mixins
block variables

doctype html
html(lang="ru-RU")
  include common/_generals

  body      
      block content
      script(src='./assets/js/foundation.js' defer)
      script(src='./assets/js/' + url_js defer)