extends _template
 
block variables
    - var title= 'Index page'
    - var url_js= 'app.js' 

block content
    .menu-small-block

    section.page.first-page.active
        .container.full-height
            include ./sections/_skills-block
            include ./sections/_decor-bg-block
            include ./sections/_menu-block
            include ./sections/_logo-block
            include ./sections/_projects-button
            include ./sections/_projects-slider
