$pink: #7B00ED;
$orange: #f05e1f;
$green: #27AE60;

.page {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: background-color 3s;

    &.active {
        z-index: 100;
    }
} 

.sub-page {
    .menu-bg-decor {
        display: none;
    }
    
    .nav-link {
        color: darken(#fff, 20deg);
    }
}

.menu-block.projects-page {    
    .nav-link {
        color: #fff;
    }

    svg {
        fill: #fff;
    }
}

.first-page {
    background-color: #F05E1F;
}

.author-block {
    position: absolute;
    width: 160px;
    height: 45px;
    right: 10px;
    top: 20px;
    pointer-events: none;
    transform: scale(0.7);

    @include phone() {
        left: 20%;
        transform: scale(0.5);
    }
}

.author-block__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lines-block {
    position: relative;
    left: 20px;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    animation: move-left 2s ease-in-out 2.8s forwards running;
    transform: translate(0, 0, 0);
}

.stas-wrap,
.zhuk-wrap {
    position: absolute;
    z-index: 1;
}

.stas-wrap {
    top: 0;
    right: 100%;
    margin-right: 10px;
    animation: blink-1 10s ease-in-out 4.5s infinite running;
}

.zhuk-wrap {
    top: 100%;
    left: 0px;
    margin-top: 10px;
    animation: blink-2 10s ease-in-out 4.8s infinite running;
}

#skillJS,
#skillFigma,
#stas,
#zhuk{
    animation: show 1s ease-in-out forwards running;
    opacity: 0;
}

.line-vertical,
.line-horizontal {
    position: absolute;
    background-color: $pink;
    border-radius: 3px;
}

.line-vertical {
    height: 100%;
    width: 3px;
    bottom: 0;
    animation: verical-line 4s ease-in-out 4s forwards running;
    transform-origin: bottom right;
    left: 100%;
    transform: rotate(90deg);
    opacity: 0;
}

.line-horizontal {
    bottom: 0;
    height: 3px;
    animation: horizontal-line 4.7s ease-in-out 5s forwards running;
}

@keyframes horizontal-line {
    0% {
        width: 0;
    }
    65% {
        width: 0
    }
    100% {
        width: 90%;
    }
}

@keyframes verical-line {
    0% {
        left: 100%;
        transform: rotate(90deg);
        opacity: 0;
    }
    30% {
        left: 0;
        transform: rotate(90deg);
        opacity: 1;
    }
    60% {
        left: 0;
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 0;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes show {
    0%, 99%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        z-index: 100;
        opacity: 1;
    }
    99% {
        z-index: 100;
    }

    100% {
        z-index: 1;
        opacity: 0;
    }
}

@keyframes fade-in {
    0%{
        z-index: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        z-index: 100;
    }
}

@keyframes move-left {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

@keyframes move-right {
    0% {
        left: 0px;
    }
    100% {
        left: 30px;
    }
}

@keyframes move-top {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 20px;
    }
}

@keyframes move-bottom {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

@keyframes blink-1 {
    0%, 19.9%, 20.1%, 24.9%, 25.1% ,100%  {
        background-color: transparent;
    }
    20%, 25% {
        background-color: #fff;
    }
}

@keyframes blink-2 {
    0%, 19.9%, 20.1%, 20.2%, 20.9%, 21.1% ,100%  {
        background-color: transparent;
    }
    20%, 21% {
        background-color: #fff;
    }
}

.menu-block {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 10%;
    top: 55%;
    color: #000;
    overflow: hidden;

    @include phone() {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
}

.menu-content {
    position: relative;
    z-index: 5;
    font-size: 36px;
    text-transform: uppercase;
    left: 0;
    top: 5%;

    @include phone() {
        font-size: 24px;
        top: 8%;
    }
}

.nav-item {
    position: relative;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s, width 0.3s, left 0.5s;
    opacity: 0;
    transform: translateY(-100%);
    padding-left: 50px;
    left: 0;
    color: #000;

    @include phone() {
        padding-left: 20px;
    }

    &:hover {
        color: $pink;
        left: 10px;
    
        &::after {
            width: 40px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        width: 0px;
        background-color: $pink;
        transition: width 0.3s;
        border-radius: 3px;

    }
}

div.menu-bg-decor {
    position: absolute;
    z-index: 2;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;

    @include phone() {
        left: 60%;
    }

    .square {
        background-color: #000;
    }

    .cross::after,
    .cross::before, {
        background-color: #000;
    }
}

.menu-line {
    position: absolute;
    left: 100%;
    bottom: 0;
    z-index: 10;
    width: 7px;
    height: 0;
    background-color: $pink;
    // animation: grow-up 1.5s ease-in-out 3s forwards running;
}

.overlay-second,
.overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0;
    background-color: #fff;
    // animation: grow-right 1.5s ease-in-out 4.5s forwards running;
}

.overlay-second {
    left: -100%;
    width: 100%;
    z-index: 2;
    // background-image: linear-gradient(180deg, $pink 0%, $pink 60%,lighten($pink, 0%) 100%);;
}

@keyframes grow-up {
    0%  {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes grow-right {
    0%  {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.decor-bg-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.square,
.cross {
    position: absolute;
    transition: transform 0.4s linear, border-radius 4s ease-in-out;
    border: 2px solid transparent;
    border-radius: 0%;
    background-color: transparent;
    opacity: 0;
}

.cross {
    &:after,
    &:before {
        content: '';
        position: absolute;
        transform-origin: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        border: 0px solid transparent;
        background-color: #fff;
        border-radius: 3px;
        transition: 5s;
    }

    &:before {
        transform: translateY(-50%) rotate(90deg);
    }
}

.projects-page {
    .square {
        border-radius: 50%;
    }
    .cross {
        &:after,
        &:before {
            border: 2px solid #fff;
            width: 15px;
            height: 15px;
            border-radius: 0;
            background-color: transparent;
        }
    }

    div.menu-bg-decor {
        // @include phone() {
        //     left: 60%;
        // }
    
        .square {
            opacity: 0;
        }
    
        .cross::after,
        .cross::before, {
            border-color: #000;
        }
    }
}

.square {
    background-color: #fff;
}

@for $i from 0 through 7 {
    .decor-bg-block .square-#{$i} {
        width: 5px + 1px * $i; 
        height: 5px + 1px * $i; 
        top: 5% + random(30) * $i;
        left: 5% + random(90);
        transform: translate3d(0, 0, 0);
        // animation: fade-up 3s ease-in-out #{$i}s forwards running;
    }

    .decor-bg-block .cross-#{$i} {
        width: 6px + 2px * $i; 
        height: 6px + 2px * $i; 
        top: 5% + random(90);
        left: 5% + random(90);
        transform: rotate(50deg * $i);
        // animation: fade-up 3s ease-in-out #{$i}s forwards running;
    }
}

@for $i from 0 through 2 {
    $delay: 7s;
    .menu-bg-decor .square-#{$i} {
        width: 5px + 1px * $i; 
        height: 5px + 1px * $i; 
        top: 5% + random(30) * $i;
        left: 5% + random(90);
        transform: translate3d(0, 0, 0);
        // animation: fade-up 3s ease-in-out $delay forwards running;
    }

    .menu-bg-decor .cross-#{$i} {
        width: 6px + 2px * $i; 
        height: 6px + 2px * $i; 
        top: 5% + random(90);
        left: 5% + random(90);
        transform: rotate(50deg * $i);
        // animation: fade-up 3s ease-in-out $delay forwards running;
    }
}

.skills-block {
    position: absolute;
    z-index: 1;
    left: 15%;
    bottom: 50%;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;

    @include phone() {
        font-size: 16px;
        left: unset;
        right: 10%;
        bottom: 52%;
    }
}

.skill-name__wrap {
    position: relative;
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

.skill-name__wrap-0 {
    animation: move-bottom 3s ease-in-out 3s forwards running;
}

.skill-name__wrap-1 {
    margin-left: -30px;
    animation: move-right 3s ease-in-out 3s forwards running;
}

.skill-name__wrap-2 {
    animation: move-top 3s ease-in-out 3s forwards running;
}

.skill-name {
    opacity: 0;
}

.skill-name-0 {
    animation: slide-right 1s ease-in-out 0.5s forwards running;
}

.skill-name-1 {
    animation: slide-left 1s ease-in-out 1s forwards running;
}

.skill-name-2 {
    animation: slide-right 1s ease-in-out 1.5s forwards running;
}

.skill-descr {
    position: absolute;
}

.skill-js {
    right: 0;
}

.skill-figma {
    right: 100%;
    bottom: -10px;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes scale-up {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.socials {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 12px;
        opacity: 0;
        transform: scale(0);

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: -15px;
        }
    }

    &__link {
        display: block;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.2);
            
            svg {
                fill: $pink; 
            }
        }
    }
}

.socials-icon {
    width: 30px;
    height: 30px;
    transition: fill 0.3s;
}

