body,
html {
    width: 100%;
}

html {
    height: 100vh;
    line-height: 1;
    font-size: 62.5%;
    box-sizing: border-box;
    color: $text-color_main;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    position: relative;
    font-size: 1.6rem;
    font-family: $main-font;
    background-color: $white;
    overflow: hidden;
    @include desktop() {
        font-size: 1.5rem;
    }
    @include laptop() {
        font-size: 1.4rem;
    }
    @include phone() {
        font-size: 1.3rem;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

input,
select,
button,
textarea {
    font-family: $main-font;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}

svg {
    pointer-events: none;
}

section {
    position: relative;
}

.section {
    padding: 50px 0;
}

.container {
    @include wrapper();
    position: relative;
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

.row {
    @include row-flex();
}

a {
    color: $white;
    cursor: pointer;
}

.full-height {
    height: 100%;
}